version: '3.4'

services:
  web:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
    ports:
      - "8080"
      - "8081"
    volumes:
      - ~/.microsoft/UserSecrets:/home/app/.microsoft/usersecrets:ro
      - ~/.aspnet/Https:/home/app/.aspnet/https:ro
      - ./.containers/logs:/logs